.song {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.album {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    border-radius: 4px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30rem;
        content: '';
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

.artwork {
    display: block;
    width: 70vw;
    height: auto;
    max-width: 64rem;
}

.track {
    position: absolute;
    display: flex;
    align-items: flex-end;
    bottom: 6rem;
    width: 100%;
    padding: 0 2rem;
    text-align: left;
    z-index: 2;
}

.trackInfo {
    flex-grow: 1;
}

.title {
    margin: 0;
    font-size: 5.2rem;
    margin-bottom: 0.5rem;
    font-weight: 200;
    text-shadow: 0 2px 2px rgba(0,0,0,0.2);

    @media (max-width: 750px) {
        font-size: 3.6rem;
    }
}

.artist {
    margin: 0;
    font-size: 3.8rem;
    font-weight: 400;
    text-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.photo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    width: 4rem;
    height: auto;
    border-radius: 0.4rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.info {
    margin-top: 2rem;
}

.added {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.addedName {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.name {
    font-weight: bold;
}