.visualiser {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20rem;
	display: flex;
	z-index: 1;
	align-items: flex-end;
	opacity: 0.1;
}

.bar {
	height: 20rem;
	background-color: #ffffff;
	animation: sound 0ms -2000ms linear infinite alternate;
	margin-left: 2px;
	flex-grow: 1;

	@for $i from 1 through 12 {
		&:nth-child(#{$i}) {
			animation-duration: #{random(500)+400}ms;
		}
	}
	
	&:first-child {
		margin-left: 0;
	}
}

@keyframes sound {
    0% {
       opacity: 0.35;
        height: 0.3rem;
    }
    100% {
        opacity: 1;
        height: 20rem;
    }
}