.button {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #2ab759;
	color: #ffffff;
	border-radius: 5rem;
	font-size: 1.4rem;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1rem 2rem;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: darken(#2ab759, 5%);
	}
}