.container {
    height: 100vh;
    width: 100vw;
    display: block;
    background-color: #666666;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.image {
    height: 130vh;
    width: 130vw;
    display: block;
    position: absolute;
    top: -15vh;
    left: -15vw;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    filter: blur(50px);
}

.hidden {
    opacity: 0;
}